.site-modal-overlay {
    position: fixed;
    display: block; 
    overflow: auto;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 900; 
}

.site-display-modal {
    margin: 100px auto;
    background-color: white;
    border-radius: 0.25rem;
    width: 70%;
    height: 85%;
}

.site-modal-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 100%;
    width: 100%;
}

.site-modal-close-button{
    cursor: pointer;
    width: 3%;
    height: 10%;
    padding-top: 15px;
    text-align: center;
}

.site-modal-content {
    width:95%;
}

.site-modal-title {
    margin-top: 10px;
    font-weight: 700;
    /* border: 1px solid black; */
}

.site-displayed-content {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.poster-container {
    width: 35%;
    text-align: center;
    padding: 45px 0px;
    /* border: 1px solid black; */
}

.poster-image {
    height: 420px;
    width: 280px;
}

.rating-content {
    padding: 30px 0px;
    text-align: center;
}

.text-container {
    width: 65%;
    padding: 0px 25px;
    /* border: 1px solid black; */
}

.site-modal-description{
    margin-top: 20px;
    padding: 5px 0px;
    height: 110px;
    width: 450px;
    /* border: 1px solid black; */
}

.genre-button{
    margin: 2px;
}

.genre-buttons-container,
.actors-list {
    margin: 10px 0px;
    /* border: 1px solid black; */
    height: 40px;
}
